body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #91a5d2; /* Fondo por defecto en modo claro */
    transition: background-color 0.3s;
    overflow: hidden;
}

header{
    text-align: left;
    text-justify: auto;
    width: 100%;
    height: 50px;
    margin: auto;
    margin-top: -20px;
    margin-left: -20px;
    padding: 20px;
    border-spacing: 5px;

}


h1{
    font-size: 30px;
    text-align: center;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

#totn {
    width: 100%; 
    height: 100%; 
    margin-left: -8px;
    margin-top: -8px;
    overflow: hidden;
    position: fixed;
    z-index: -1;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}

/* Estilos CSS para las tarjetas */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px; /* Espacio entre las tarjetas */
    justify-items: center;
}

.card {
    width: 200px;
    height: 300px;
    background-color: aqua;
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    transform-origin: center;
    transition: transform 0.8s; /* Agregamos transición para el fondo */
}

.card:last-child {
    margin-right: 0; /* Elimina el margen derecho de la última tarjeta */
}

.card:hover {
    transform: scale(1.05) rotate(90deg);
    z-index: 100;
    width: 100%;
    height: 100%;
    
}
.card a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Asegura que el enlace esté en la parte superior */
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    opacity: 0;
    transition: opacity 0.8s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.card-info h3,
.card-info p {
    transform: rotate(-90deg); /* Rotar el texto -90 grados */
    transform-origin: center center;
    text-align: center; /* Centrar el texto horizontalmente */
    margin: 0;
   
}

.card:hover .card-info {
    opacity: 1;
}