body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #91a5d2; /* Fondo por defecto en modo claro */
    transition: background-color 0.3s;
    overflow: hidden;
    transition: background-color 1s ease-in-out;
}

header{
    text-align: left;
    text-justify: auto;
    width: 100%;
    height: 50px;
    margin: auto;
    margin-top: -20px;
    margin-left: -20px;
    padding: 20px;
    border-spacing: 5px;

}

.botn {
    text-align: center;
    padding: 10px 20px; /* Aumenta el espacio de relleno para hacer clic más grande */
    height: auto; /* Elimina la altura fija para que el botón se ajuste al contenido */
    width: auto; /* Elimina el ancho fijo para que el botón se ajuste al contenido */
    border-radius: 5px;
    color: white;
    margin-left: 20px;
    margin-top: 5px;
    background-color: #2787b8; /* Cambia el color de fondo predeterminado */
    text-decoration: none; /* Quita la decoración de texto para el enlace */
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    display: inline-block; /* Hace que el botón se ajuste automáticamente al contenido */
    cursor: pointer; /* Cambia el cursor al puntero al pasar por encima */
    font-weight: bold; /* Añade negrita al texto */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.botn:hover {
    background-color: #026ca0; 
    box-shadow: 0 9px 12px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}
.botn:link {
    text-decoration: none;
    color: #ffffff;
}
.botn:visited {
    text-decoration: none;
    color: #ffffff;
}

h1{
    font-size: 30px;
    text-align: center;
    color: #ffffff;
    margin-top: -35px;
    margin-bottom: 10px;
}


a:link {
    text-decoration: none;
    color: #ffffff;
}

#totn {
    transition: opacity 1s ease-in-out;
    width: 100%; 
    height: 100%; 
    margin-left: -8px;
    margin-top: -8px;
    overflow: hidden;
    position: fixed;
    z-index: -1;
    
}


.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px; /* Espacio entre las tarjetas */
    justify-items: center;
}

/* Estilos CSS para las tarjetas */
.card {
    width: 200px;
    height: 300px;
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: transform 0.2s;
    cursor: pointer;
}

.card:not(.flipped):hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Estilos CSS para la información adicional */
.card-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.2s;
}

.card:hover .card-info {
    opacity: 1;
}


/*/////////////////////////////////////////////////*/

.card.flipped {
    z-index: 100;
    transform: scale(1.30) rotate(90deg);
    
}

/* Estilos CSS para la capa de reproducción de video */
.video-overlay {
    position: absolute;
    top: 30px;
    left: -70px;
    object-fit: cover;
    width: 325px;
    height: 238px;
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    justify-content: center;
    align-items: center;
    transform: rotate(-90deg);
}

.video-overlay video {
    max-width: 100%;
    max-height: 100%;
}

.video-overlay:hover {
    display: block;
    pointer-events: auto; /* Restablece la interacción con el botón de reproducción/pausa */
}