body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #91a5d2; /* Fondo por defecto en modo claro */
    transition: background-color 0.3s;
    overflow: scroll;
}

header {
    text-align: center;
    width: 100%;
    height: 60px; /* Aumenta la altura para dar más espacio al contenido del encabezado */
    padding: 10px 0; /* Añade espacio vertical en el interior del encabezado */
    background-color: aliceblue;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100; /* Asegura que el encabezado esté por encima del contenido */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

h1{
    font-size: 30px;
    text-align: center;
    color: #000000;
    margin-top: 15px;
    margin-bottom: auto;
}


.botn {
    text-align: center;
    padding: 10px 20px; /* Aumenta el espacio de relleno para hacer clic más grande */
    height: auto; /* Elimina la altura fija para que el botón se ajuste al contenido */
    width: auto; /* Elimina el ancho fijo para que el botón se ajuste al contenido */
    border-radius: 5px;
    color: white;
    margin-left: 20px;
    margin-top: 5px;
    background-color: #2787b8; /* Cambia el color de fondo predeterminado */
    text-decoration: none; /* Quita la decoración de texto para el enlace */
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    display: inline-block; /* Hace que el botón se ajuste automáticamente al contenido */
    cursor: pointer; /* Cambia el cursor al puntero al pasar por encima */
    font-weight: bold; /* Añade negrita al texto */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.botn:hover {
    background-color: #026ca0; 
    box-shadow: 0 9px 12px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}
.botn:link {
    text-decoration: none;
    color: #ffffff;
}
.botn:visited {
    text-decoration: none;
    color: #ffffff;
}
.botn:active {
    text-decoration: none;
    color: #ffffff;
}
.text-container{
    margin-left: 50%;
    margin-top: 5%;
    width: 40%;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

/* Estilos CSS para el cuadro de texto */
textarea {
    padding: 10px;
    font-family: "Courier New", monospace;
   
    font-size: 16px;
    background-color: #201c1c;
    color: white;
    border: 1px solid #ccc;
    resize: none; 
    overflow: auto; 
    border-radius: 5px;
    margin-bottom: 20px;
    
}
.codigo-container{
    width: 200px;
    margin-left: 50%;
    margin-top: -15%;
    gap: 20px; 
    justify-items: left;
    
}

footer{
    text-align: center;
    width: 101.3%;
    height: 250px; /* Aumenta la altura para dar más espacio al contenido del encabezado */
    padding: 10px 0; /* Añade espacio vertical en el interior del encabezado */
    background-color: aliceblue;
    margin-left: -10px;
    margin-right: -50px;
    margin-bottom: -10px;
    z-index: 1; /* Asegura que el encabezado esté por encima del contenido */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

/* ////////////////////////////////////////////////////////////*/

/* Estilos CSS para las tarjetas */
.card {
    margin-left: 20%;
    margin-top: 0%;
    width: 200px;
    height: 300px;
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: transform 0.2s;
    cursor: pointer;
    
}

.card:not(.flipped):hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Estilos CSS para la información adicional */
.card-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.2s;
}

.card:hover .card-info {
    opacity: 1;
}


/*/////////////////////////////////////////////////*/

.card.flipped {
    z-index: 100;
    transform: scale(1.30) rotate(90deg);
    
}

/* Estilos CSS para la capa de reproducción de video */
.video-overlay {
    position: absolute;
    top: 30px;
    left: -70px;
    object-fit: cover;
    width: 325px;
    height: 238px;
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    justify-content: center;
    align-items: center;
    transform: rotate(-90deg);
}

.video-overlay video {
    max-width: 100%;
    max-height: 100%;
}

.video-overlay:hover {
    display: block;
    pointer-events: auto; /* Restablece la interacción con el botón de reproducción/pausa */
}
